/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
li.product_cat-settings a.add_to_cart_button{
	display:none;
}
li.product_cat-settings a.ajax_add_to_cart{
	display:none;
}
li.product_cat-diamonds a.add_to_cart_button{
	display:none;
}
li.product_cat-diamonds a.ajax_add_to_cart{
	display:none;
}
.product-buttons a.show_details_button{
display:none;	
}

/**
 * Diamond datatables 
 * */
/* Style the list */
ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
	border: medium none;
}
/* Float the list items side by side */
ul.tab li {
	float: left;
	background-color: #f5f5f5;
}
/* Style the links inside the list items */
ul.tab li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 14px;
	border: 1px solid #ccc;
	border-left: none;
}
ul.tab li:first-child a {
	border-left: 1px solid #ccc;
}
/* Change background color of links on hover */
ul.tab li a:hover {
	background-color: #ddd;
}
/* Create an active/current tablink class */
ul.tab li a:focus, .active {
	background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
	display: none;
	padding: 0;
}
#CFDR, #RV, #Comp {
	width: 100%;
	min-height: 315px;
}
.e3ve-datatables-container {
	overflow: hidden;
	text-transform: uppercase;
}
.e3ve-dt-col-2-1 {
	float: left;
	width: 80%;
}
.e3ve-dt-col-2-2 {
	float: left;
	width: 20%;
}
.search-results-outline > thead > tr {
	box-shadow: 0 2px 3px #ececec;
	height: 34px;
	white-space: nowrap;
}
.search-results-outline thead th {
	font-weight: normal;
}
.search-results-outline > thead > tr > th {
	background-color: #ebebeb;
	border-bottom: 1px solid #d4d4d4;
	border-right: 1px solid #c2c2c2;
	font-size: 12px;
	padding: 6px 0;
}
.search-results-outline > thead > tr > th:first-child {
	border-radius: 2px 0 0 2px;
}
.search-results-outline > thead > tr > th:last-child {
	border-radius: 0 2px 2px 0;
}
.search-results-outline thead td {
	font-weight: normal;
}
.search-results-outline > tbody > tr > td {
	background-color: #ebebeb;
	border-bottom: 1px solid #d4d4d4;
	border-right: 1px solid #c2c2c2;
	font-size: 12px;
	padding: 6px 0;
}
.e3ve-datatable-main-body {
	font-size: 12px;
	color: rgb(134, 134, 134);
}
.e3ve-datatable-scroll {
	overflow-y: auto;
	overflow-x: none;
	height: 315px;
}
.e3ve-datatable-main-body tr tr {
	line-height: 25px;
}
.e3ve-datatable-main-body tr tr:nth-child(even) {
	background-color: #f5f5f5;
}
.e3ve-datatable-main-body tr tr:nth-child(odd) {
	background-color: #ffffff;
}
.e3ve-datatable-main-body tr tr:nth-child(even) tr td {
	background-color: #f5f5f5;
}
.e3ve-datatable-main-body tr tr:nth-child(odd) tr td {
	background-color: #ffffff;
}
.e3ve-datatable-main-body tr tr:hover {
	background-color: #f0f0f0;
}
.e3ve-datatable-main-body tr tr:hover tr td {
	background-color: #f0f0f0;
}
#e3ve-diamond_info_panel {
	padding: 10px;
	;
	height: 295px;
	overflow-y: auto;
	overflow-x: 0;
	background-color: #fff;
}
.e3ve-view-diamond-btn {
	background-color: #0d2b49;
	border-color: #0d2b49;
	border-radius: 0;
	color: #fff;
	display: block;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 12px 30px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s;
}
.e3ve-view-diamond-btn:hover {
	background-color: #95a9ca;
	border-color: #95a9ca;
	color: #fff;
}
.e3ve-dt-row {
	display: block;
	margin: 15px auto;
	overflow: hidden;
}
.e3ve-dt-result-col-2-1 {
	width: 50%;
	float: left;
}
.e3ve-dt-result-col-2-2 {
	width: 50%;
	float: left;
}

/****************** Style the IMAGE ********************/
ul.e3veImageTab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
/* Float the list items side by side */
ul.e3veImageTab li {
	float: left;
	width:30%;
}
/* Style the links inside the list items */
ul.e3veImageTab li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 0;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}
/* Change background color of links on hover */
ul.e3veImageTab li a:hover {
	background-color: #ddd;
}
/* Create an active/current e3veImageTablink class */
ul.e3veImageTab li a:focus, .active {
	background-color: transparent;
	border: 1px solid #0d2b49;
}
/* Style the e3veImageTab content */
.e3veImagee3veImageTabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
}
ul.e3veImageTab li a img {width:100%; height:auto;}
#image1 img, #image2 img, #image3 img {width:100%; height:auto;}
.dataTables_scrollBody{
width:100% !important;
}
