<?php global $wp_query; ?>
<div class="e3ve-datatables-outer-container">
  <ul class="tab">
    <li><a href="javascript:void(0);" class="tablinks active" onclick="openD(event, 'CFDR')">Diamond Results (<?php echo $wp_query->found_posts; ?>)</a></li>
    <li><a href="javascript:void(0);" class="tablinks" onclick="openD(event, 'RV')">Recently Viewed (<?php echo LJC_DiamondRecentViewDB::get_instance()->count_recent_views();?>)</a></li>
    <li><a href="javascript:void(0);" class="tablinks" onclick="openD(event, 'Comp')">Comparison <span class="compare-count">(<?php echo ljc_diamond_compare_count();?>)</span></a></li>
  </ul>
  <div class="e3ve-datatables-container">
    <div class="e3ve-dt-col-2-1 ">
      <div id="CFDR" class="tabcontent" style="display:block;">
        <?php ljc_diamonds_loop_datatables($data); ?>
      </div>
      <div id="RV" class="tabcontent">
        <?php ljc_diamond_recentreview_loop_datatables(); ?>
      </div>
      <div id="Comp" class="tabcontent">
        <?php ljc_diamond_compare_datatables(); ?>
      </div>
      <p class="stat-more">Scroll to the right to see more...</p>
    </div>
    <div class="e3ve-dt-col-2-2">
      <table class="search-results-outline" width="100%" cellspacing="0" cellpadding="0" border="0">
        <thead>
          <tr>
            <th scope="col" width="100%"> <table id="search_result_header_table" class="table-head" style="display: table;" width="100%" cellspacing="0" cellpadding="0" border="0">
                <thead>
                  <tr>
                    <th scope="col" width="9%">Diamond Information</th>
                  </tr>
                </thead>
              </table>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td valign="top"><div class="diamond-information">
                <div class="no-info">
                  <div id="e3ve-diamond_info_panel" class="info container info_panel_<?php echo get_the_ID();?>"> <a class="e3ve-view-diamond-btn info_stock_url" href="#">View Diamond</a>
                    <div class="no_info">
						<p>Mouse over the diamonds to see detailed information</p>
                    </div>
                    <div class="hover_info">
						<div class="e3ve-dt-row">
						  <div class="e3ve-dt-result-col-2-1">
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">STOCK NUMBER:</div>
							  <div class="e3ve-dt-result-result info_stock_number" style="color:#aaa"></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">SHAPE:</div>
							  <div class="e3ve-dt-result-result info_stock_shape" style="color:#aaa" ></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">CARAT WEIGHT:</div>
							  <div class="e3ve-dt-result-result info_stock_carat_weight" style="color:#aaa" ></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">COLOR:</div>
							  <div class="e3ve-dt-result-result info_stock_color" style="color:#aaa"></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">REPORT:</div>
							  <div class="e3ve-dt-result-result info_stock_report" style="color:#aaa"></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">POLISH:</div>
							  <div class="e3ve-dt-result-result info_stock_polish" style="color:#aaa"></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">DEPTH:</div>
							  <div class="e3ve-dt-result-result info_stock_depth" style="color:#aaa"></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">GIRDLE:</div>
							  <div class="e3ve-dt-result-result info_stock_girdle" style="color:#aaa"></div>
							</div>
							<!--<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">-->
							  <!--<div class="e3ve-dt-result-label">L:W Ratio:</div>-->
							  <!--<div class="e3ve-dt-result-result info_stock_lw_ratio" style="color:#aaa" ></div>-->
							<!--</div>-->
						  </div>
						  <div class="e3ve-dt-result-col-2-2">
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">PRICE:</div>
							  <div class="e3ve-dt-result-result info_stock_price" style="color:#aaa" ></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">CUT:</div>
							  <div class="e3ve-dt-result-result info_stock_cut" style="color:#aaa"></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">CLARITY:</div>
							  <div class="e3ve-dt-result-result info_stock_clarity" style="color:#aaa"></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">MEASUREMENTS:</div>
							  <div class="e3ve-dt-result-result info_stock_measurements" style="color:#aaa"></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">SYMMETRY:</div>
							  <div class="e3ve-dt-result-result info_stock_symmetry" style="color:#aaa"></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">TABLE:</div>
							  <div class="e3ve-dt-result-result info_stock_table" style="color:#aaa"></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">CULET:</div>
							  <div class="e3ve-dt-result-result info_stock_cutlet" style="color:#aaa"></div>
							</div>
							<div class="e3ve-dt-result-col-wrapper" style="margin:0 auto 5px;">
							  <div class="e3ve-dt-result-label">FLUORESCENCE:</div>
							  <div class="e3ve-dt-result-result info_stock_fluorescence" style="color:#aaa"></div>
							</div>
						  </div>
						  <div class="e3ve-dt-result-col-2-2"> </div>
						</div>
						<!--<div class="e3ve-dt-row">-->
						  <!--<div class="e3ve-dt-shipping-info info_stock_shipping_info" style="margin:0 auto 10px"></div>-->
						  <!--<div class="e3ve-dt-shipping-delivery" >ORDER LOOSE DIAMOND FOR DELIVERY BY:</div>-->
						  <!--<div class="e3ve-dt-shipping-result info_stock_order_loose_diamond" style="color:#aaa"></div>-->
						<!--</div>-->
						<div class="e3ve-dt-row" style="display:auto;">
						  <div id="image1" class="e3veImagee3veImageTabcontent" style="display:block;"> <img src="/wp-content/uploads/round_top_dark.jpg" width="600" height="600" /> </div>
						  <div id="image2" class="e3veImagee3veImageTabcontent"> <img src="/wp-content/uploads/round_side_dark.jpg" width="600" height="600" /> </div>
						  <!--<div id="image3" class="e3veImagee3veImageTabcontent"> <img src="diamond-shapes/new-shapes/NEW COLORS AND SIZE/600x600/JPG/no-overlay/4-top-600x600-dark.jpg" width="600" height="600" /> </div>-->
						  <ul class="e3veImageTab" style="display:auto;">
							<li><a href="javascript:void(0)" class="e3veImagee3veImageTablinks active" onclick="openImage(event, 'image1')"><img src="/wp-content/uploads/round_top_dark.jpg" width="600" height="600" /></a></li>
							<li><a href="javascript:void(0)" class="e3veImagee3veImageTablinks" onclick="openImage(event, 'image2')"><img src="/wp-content/uploads/round_side_dark.jpg" width="600" height="600" /></a></li>
							<!--<li><a href="javascript:void(0)" class="e3veImagee3veImageTablinks" onclick="openImage(event, 'image3')"><img src="diamond-shapes/new-shapes/NEW COLORS AND SIZE/600x600/JPG/no-overlay/4-top-600x600-dark.jpg" width="600" height="600" /></a></li>-->
						  </ul>
						</div>
                    </div>
                    
                    <a class="e3ve-view-diamond-btn info_stock_url" href="#">View Diamond</a> </div>
                </div>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
